<mat-card *ngIf='data' class="margin-24">
  <mat-card-header>
    <mat-card-title>Editar Marca</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <form novalidate [formGroup]='form'>
    <mat-card-content  class="margin-bottom-24">
      <mat-form-field>
        <input type="text" matInput formControlName='nombre' placeholder="Nombre" maxlength="50">
          <mat-error *ngIf="form.controls['nombre'].hasError('required')">Este campo no debe estar vacio</mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('minlength')">Este campo no tiene la longitud minima permitida </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('maxlength')">Este campo no tiene la longitud maxima permitida </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('isUnique')">El nombre ya está en uso</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color='primary' (click)='edit()' [disabled]='!form.valid' >Guardar</button>
    </mat-card-actions>
  </form>
</mat-card>
